body {
    background-color: #f9f9f9;
}
a {
    text-decoration: none;
    display: block;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans.ttf);
}
.wrapper {
    margin: auto;
    width: 1060px;
    padding: 30px 47px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 13px;
    font-family: 'OpenSans';
}
.header {
    color: #4f4f4f;
    font-size: 40px;
    font-weight: bold;
}
.header+div {
    margin: 30px 0;
}
/*TOP MENU*/
.top-menu {
    background: linear-gradient(to top, #444343, #5e5e5e);
    border: 1px solid #e1e1e1;
    display: flex;
}
.top-menu a {
    padding: 15px;
    color: #fff;
    font-size: 15px;
    border-left: 1px solid rgba(255,255,255, 0);
    border-right: 1px solid rgba(255,255,255, 0);
}
.top-menu a:hover {
    background: linear-gradient(to top, #2e2e2e, #4a4a4a);
    border-left: 1px solid rgba(255,255,255, 1);
    border-right: 1px solid rgba(255,255,255, 1);
}
/*LEFT MENU*/
.left_menu {
    width: 240px;
    float: left;
}
.left_menu li {
    padding: 20px 50px;
    color: #656363;
    border: 1px solid #5e5e5e;
    border-top: none;
}
.left_menu li:first-child {
    border-top: 1px solid #5e5e5e;
}
.left_menu a:hover {
    position: relative;
    left: 25px;
    color: #000;
}
/*RIGHT PART, PICTURE+TEXT*/
.content_right_part {
    float: right;
    width: 678px;
    margin-bottom: 40px;
}
.bike {
    float: right;
    border: 1px solid #c8c8c8;
    padding: 46px 89px 46px 89px;
    width: 578px;
}
.text {
    width: 625px;
    float: right;
    margin: 30px 60px 0 0;
}
/*FOOTER*/
.footer {
    clear: both;
    margin: 30px 0;
}
.bottom_menu {
    background-color: #e1e1e1;
    font-size: 0;
}
.bottom_menu a {
    padding: 10px 30px;
    color: #2c2c2c;
    display: inline-block;
    font-size: 13px;
}
.bottom_menu a:hover {
    text-decoration: underline;
}
.copyright {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    color: #2c2c2c;
}
/*FLOAT-MENU*/
.float {
    background-color: #e1e1e1;
    overflow: hidden;
}
.float a {
    background-color: #e1e1e1;
    float: left;
    padding: 10px 30px;
    color: #2c2c2c;
}
.float a:hover {
    text-decoration: underline;
}
